@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mentor: Bruno Trstenjak<br />
    Predmet: Programski alati U programiranju<br />
</address>

<address>
    <strong>Studentica:</strong>   <a href="vanda.karabajic@student.mev.hr">vanda.karabajic@student.mev.hr</a><br />
    <strong>Mentor:</strong> <a href="bruno.trstenjak@mev.hr">bruno.trstenjak@mev.hr</a>
</address>